<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tests/
RewriteRule ^tests/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tests/index.html [L]
</IfModule>